* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#88bfe8+0,70b0e0+100;Blue+3D+%2317 */
    background: #88bfe8;
    /* Old browsers */
    background: -moz-linear-gradient(top, #88bfe8 0%, #70b0e0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #88bfe8 0%, #70b0e0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #88bfe8 0%, #70b0e0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88bfe8', endColorstr='#70b0e0', GradientType=0);
    /* IE6-9 */
    color: white;
    min-height: 100vh;
    font-size: 24px;
}

#todo-body{
    margin-left: 400px;
}

input {
    font-size: 1.4rem;
  }

  .done {
    text-decoration: line-through;
  }

  #counter{
    margin-top: 100px;
    font-size: 30px;
  }