:root {
    --white-color: #f8f9fb;
    --white-opacity-color: #f8f9fb39;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--white-color);
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg ,#FF0A6C, #4A3CDB);
    background-attachment: fixed;
}

h1 {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
}

.shop {
    display: flex;
}

.col {
    width: 33.3333%;
    background-color: var(--white-opacity-color);
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 30px;
}

.col .products,
.col .trade-mark,
.col .model {
    font-size: 25px;
    padding-left: 20px;
    width: 100%;
}

.col div div {
    padding: 5px 10px;
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.col div div.active {
    background: var(--white-opacity-color);
}

.col div div:hover {
    background: var(--white-opacity-color);
}